.PostreSQL {
    background: #45ADCE;
    border-radius: 5px;
}

.Python {
    background: #23DF58;
    border-radius: 5px;
}

.AutodeskMaya2020 {
    background: #FF7B31;
    border-radius: 5px;
}

.Assembly {
    background: #3CDF7E;
    border-radius: 5px;
}

.C\+\+ {
    background: #23DF58;
    border-radius: 5px;
}